.slidev-layout {
  h1 {
    color: unset;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .absolute-center {
    position: absolute;
    top: 50%; /* Moves the top edge to the middle of the parent */
    transform: translate(0, -50%); /* Shifts the element back by half its own width and height */
  }

  .col-left, .col-right {
    position: relative;
  }
}
